.contacts__svg {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
    fill: transparent;
    stroke: $basic-white;
  }
}

.contacts__number {
  display: inline-block;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.03em;
  color: $basic-white;
  margin: 0 0 6px;

  @media (max-width: $mobile-width) {
    display: none;
  }

  &:hover {
    color: $dark-font;
  }
}

.contacts__text {
  color: $opacity-white;
  margin: 0 0 6px;

  @media (max-width: $mobile-width) {
    display: none;
  }
}
