.filter {
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.15);

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: calc(50vw - 50%);
    height: 1px;
    background-color: $white-background;
  }

  &::before {
    top: -1px;
    left: -40px;

    @media (max-width: $mobile-width) {
      left: -18px;
    }
  }

  &::after {
    top: -1px;
    right: -40px;

    @media (max-width: $mobile-width) {
      right: -18px;
    }
  }
}
