.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 35px 0;

  @media (max-width: $mobile-width) {
    padding: 20px 0;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;

  @media (max-width: $mobile-width) {
    width: 35%;
  }
}

// .header__logo {
//   margin-right: 250px;

//   @media (max-width: $mobile-width) {
//     margin-right: 80px;
//   }
// }

// .header__contacts {
//   margin-right: 308px;

//   @media (max-width: $mobile-width) {
//     margin-right: 80px;
//   }
// }
