.nav {
  display: flex;
}

.nav__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  margin-right: 6.6%;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.nav__item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.nav__link {
  display: block;
  position: relative;
  color: $basic-white;
  overflow: hidden;

  &:hover::before {
    position: absolute;
    color: $basic-white;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    z-index: 10;
    animation: vertical 1.5s linear infinite;
  }

  &--flat:hover::before {
    content: "Квартиры";
  }

  &--mortgage:hover::before {
    content: "Ипотека";
  }

  &--management:hover::before {
    content: "Управляющая компания";
  }

  &--commerce:hover::before {
    content: "Коммерция";
  }

  &:hover {
    color: transparent;
  }
}

@keyframes vertical {
  10% {
    transform: translate(0, -35px);
  }

  17% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  31% {
    opacity: 1;
    transform: translate(0);
  }

  85% {
    opacity: 1;
    transform: translate(0, -50%);
  }
}
