.nav {
  display: flex;
}

.nav__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  margin-right: 38px;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.nav__item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.nav__link {
  color: $basic-white;
}
