.range {
  position: absolute;
  width: 180px;
  height: 3px;
  background-color: $red;
}

.range__switch {
  position: absolute;
  width: 21px;
  height: 21px;
  transform: translate(0, -50%);

  &--one {
    top: 0;
    left: 0;
  }

  &--two {
    top: 0;
    right: 0;
  }

  &::before {
    position: absolute;
    content: "";
    width: 21px;
    height: 21px;
    background-color: $red;
    border-radius: 50%;
    cursor: pointer;
  }

  &--one::before {
    top: 0;
    left: 0;
  }

  &--two::before {
    top: 0;
    right: 0;
  }
}
