.selection {
  width: 36%;

  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
  }
}

.selection__text {
  font-size: 40px;
  line-height: 47px;
  letter-spacing: -0.02em;
  margin: 0 0 50px;

  @media (max-width: $mobile-width) {
    font-size: 26px;
    line-height: 31px;
    margin: 0 0 32px;
  }
}

.selection__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.selection__link {
  display: inline-block;
  color: $basic-white;
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;

  @media (max-width: $mobile-width) {
    font-size: 12px;
    margin: 0 0 30px;
  }

  &--selection {
    width: 210px;
    height: 56px;
    position: relative;
    border: 1px solid $basic-white;
    border-radius: 7px;

    @media (max-width: $mobile-width) {
      width: 154px;
      height: 40px;
    }

    &:hover {
      border: 28px solid $basic-white;
      color: $dark-font;
      transition: all 0.5s ease;
    }
  }

  &--buy {
    @media (max-width: $mobile-width) {
      line-height: 12px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      border-left: 1px solid $basic-white;
      border-bottom: 1px solid $basic-white;
      transform: translateY(-50%) rotate(-135deg);
      top: 50%;
      right: -15px;

      @media (max-width: $mobile-width) {
        width: 5px;
        height: 5px;
        right: -10px;
      }
    }

    &:hover {
      border-bottom: 1px solid $dark-font;
      color: $dark-font;
    }

    &:hover::after {
      border-left: 1px solid $dark-font;
      border-bottom: 1px solid $dark-font;
    }
  }
}

.selection__span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 11px;
    height: 1px;
    top: 50%;
    left: -20px;
    background-color: $basic-white;

    @media (max-width: $mobile-width) {
      width: 8px;
      left: -15px;
    }
  }

  &::before {
    transform: translateY(-50%) rotate(90deg);
  }

  &::after {
    transform: translateY(-50%);
  }
}

.selection__link--selection:hover .selection__span::before,
.selection__link--selection:hover .selection__span::after {
  background-color: $dark-font;
}
