.social {
  width: 23%;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.social__list {
  @include list-reset;
  margin-top: 195px;
}

.social__item {
  &:not(:last-child) {
    margin-bottom: 25px;
  }
}
