.social {
  width: 23%;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.social__list {
  @include list-reset;
  margin-top: 195px;
}

.social__item {
  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.social__picture {
  fill: $basic-white;
}

.social__link {
  transition: all 0.2s ease-in-out;
}

.social__link:hover .social__picture {
  fill: $dark-font;
  transform: scale(1.5);
}
