.toggle {
  @include button-reset;
  position: relative;
  width: 48px;
  height: 30px;

  @media (max-width: $mobile-width) {
    width: 38px;
  }

  // Кнопка при закрытом состоянии меню
  &--closed {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &::after {
      content: "";
      width: 48px;
      height: 2px;
      position: absolute;
      top: 20%;
      right: 50%;
      transform: translate(50%, 50%);
      background-color: $basic-white;
      box-shadow: 0 8px 0 0  $basic-white;

      @media (max-width: $mobile-width) {
        width: 38px;
        top: 50%;
      }
    }
  }

  &:hover {
    animation: bounce 1s;
  }

  &:focus {
    outline: 2px solid  $basic-white;
  }
}

@keyframes bounce {
  10%,
  20%,
  60%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(-10px);
  }
}
