@font-face {
  font-family: "Core Sans C";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src:
    url("../fonts/CoreSansC-45Regular.woff") format("woff"),
    url("../fonts/CoreSansC-45Regular.woff2") format("woff2"),
    url("../fonts/CoreSansC-45Regular.ttf") format("woff"),
    url("../fonts/CoreSansC-45RegularIt.ttf") format("woff");
}
