$basic-white: rgba(255, 255, 255, 1);
$opacity-white: rgba(255, 255, 255, 0.5);
$opacity-white-font: rgba(255, 255, 255, 0.6);
$opacity-white-strong: rgba(255, 255, 255, 0.4);
$white-border: rgba(255, 255, 255, 0.3);
$white-background: rgba(255, 255, 255, 0.16);
$dark-font: rgba(23, 23, 35, 1);
$red: rgba(217, 0, 2, 1);
